@font-face 
  font-family: RWBY
  src: url(/assets/RWBY-Z.ttf)
    
body
    color: white
    background-color: black
    margin: 0

.parallax
  height: 100vh
  overflow-x: hidden
  perspective: 1px

.parallax-layer
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0

.layer1
  transform: translateZ(-4px) scale(6)

.layer2
  transform: translateZ(-2px) scale(3)

.layer3
  transform: translateZ(0)


div
  font-size: 50px
  text-align: center

.parallax-layer
  &.layer1
    width: 100%
    background-image: url("./assets/clouds.png")
    background-repeat: repeat

  &.layer2
    top: 10rem
    height: 120%
    width: 100%
    background-image: url("./assets/stars.png")
    background-repeat: repeat

  &.layer3
    top: 20rem
    width: 100%


.content
    z-index: 5
    display: flex
    width: 1500px
    margin-top: 300px
    flex-direction: row
    box-sizing: border-box

.left
    width: 50%
    box-sizing: border-box
    margin-right: 15px

.right
    margin-top: 400px
    width: 50%
    box-sizing: border-box
    margin-left: 15px

.infobox
    box-sizing: border-box
    text-align: left
    border-left: 3px solid #FFFFFF
    border-top: 3px solid #FFFFFF
    border-bottom: 3px solid #808080
    border-right: 3px solid #808080
    background-color: #C0C0C0
    color: black
    font-family: Arial, Helvetica, sans-serif
    font-size: 25px
    padding: 0px

.info_content
    color: black
    font-family: Arial, Helvetica, sans-serif
    font-size: 25px
    margin: 15px
    text-align: left

.infobox .header
    text-align: left
    color: white
    font-size: 30px
    margin-bottom: 15px
    background: rgb(0,0,128)
    background: linear-gradient(90deg, rgba(0,0,128,1) 0%, rgba(16,132,208,1) 100%)

@media (orientation: portrait)
  .left
    width: 90%

  .right
      margin-top: 150px
      width: 90%

  .content
      width: 100%
      justify-content: center
      align-items: center
      flex-direction: column
      text-align: center
  
  .layer3 img
    width: 85%

@media (max-width: 1500px)
  .left
    width: 90%

  .right
      margin-top: 150px
      width: 90%

  .content
      width: 100%
      justify-content: center
      align-items: center
      flex-direction: column
      text-align: center
  
  .layer3 img
    width: 85%

.link img
  height: 50px
  width: auto
  margin-right: 15px

.link 
  color: white
  text-decoration: none
  font-family: Arial, Helvetica, sans-serif
  font-size: 35px
  line-height: 35px
  border-radius: 200px
  padding: 15px
  display: flex
  margin-bottom: 15px
  width: 300px
  align-items: center
  justify-content: center

.links
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly 

.link:hover
  